# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env
.venv/
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore model and dataset files
models/
data/raw_data/
data/processed_data/
